<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/Temp/assets2/css/css.css" rel="stylesheet" />
    <link href="~/Temp/assets2/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Temp/assets2/css/custom.css" rel="stylesheet" />
    <link href="~/Temp/assets2/css/font-awesome.css" rel="stylesheet" />
    <title>Institute Of Fine Arts</title>
</head>

<body>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2></h2>
                    <h5>fdgdfgdf</h5>
                    <div class="Insert_main" id="staff_inser">
                        <section class="sec_insert">
                            <div id="wrapper">
                                <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                        <a class="navbar-brand" href="index.html">ADMIN</a>
                                    </div>
                                    <div style="color: white;padding: 15px 50px 5px 50px;float: right;font-size: 16px;">@Session["Name"] &nbsp;<a href="@Url.Action("Logout","Admin")" class="btn btn-danger square-btn-adjust">Logout</a></div>
                                </nav>
                                <!-- /. NAV TOP  -->
                                <nav class="navbar-default navbar-side" role="navigation">
                                    <div class="sidebar-collapse">
                                        <ul class="nav" id="main-menu">
                                            <li class="text-center">
                                                <img src="~/Temp/assets/img/find_user.png" class="user-image img-responsive" />
                                            </li>


                                            <li>
                                                <a class="active-menu" href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-users fa-3x"></i>Staff<span class="fa arrow"></span></a>
                                                <ul class="nav nav-second-level">
                                                    <li>
                                                        <a href="@Url.Action("Staff_view","Admin")" onclick="mypop()">Insert Staff</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Staff_view","Admin")">View Staff</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("StaffSerch","Admin")">Search Staff</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>

                                                <a><i class="fa fa-user fa-3x"></i>Students<span class="fa arrow"></span></a>
                                                <ul class="nav nav-second-level">
                                                    <li>
                                                        <a href="@Url.Action("AdminStudent","Admin")" onclick="mypop2()">Insert Students</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("Student_view","Admin")">View Students</a>
                                                    </li>
                                                    <li>
                                                        <a href="@Url.Action("StudentSerch","Admin")">Search Studnets</a>
                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>

                                    </div>

                                </nav>

                                @RenderBody();
                                <!-- /. NAV SIDE  -->
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /. ROW  -->
    </div>
</body>
<script src="~/Temp/assets2/js/bootstrap.min.js"></script>
<script src="~/Temp/assets2/js/custom.js"></script>
<script src="~/Temp/assets2/js/jquery-1.10.2.js"></script>
<script src="~/Temp/assets2/js/jquery.metisMenu.js"></script>
</html>   