@model IEnumerable<InstituteOfFineArt.Models.student>

@{
    ViewBag.Title = "MStudentSerch";
}


@Html.Raw(TempData["LoginSuccess"])

<link href="~/Temp/assets2/css/css.css" rel="stylesheet" />
<link href="~/Temp/assets2/css/bootstrap.css" rel="stylesheet" />
<link href="~/Temp/assets2/css/custom.css" rel="stylesheet" />
<link href="~/Temp/assets2/css/font-awesome.css" rel="stylesheet" />

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Manager Portal</a>
            </div>
            <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;">Last access : 30 May 2014 &nbsp;<a href="#" class="btn btn-danger square-btn-adjust">Logout</a></div>
        </nav>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center">
                        <img src="~/Temp/assets/img/find_user.png" class="user-image img-responsive" />
                    </li>


                    <li>
                        <a class="active-menu" href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="ui.html"><i class="fa fa-users fa-3x"></i>Students</a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="@Url.Action("MStudent_view")">View List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("MStudentSerch")">Serarch List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="tab-panel.html"><i class="fa fa-user fa-3x"></i>Staffs</a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="@Url.Action("MStaff_view")">View List</a>
                            </li>
                            <li>
                                <a href="@Url.Action("MstaffSerch")">Serarch List</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i>Compititions</a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="@Url.Action("Compitition","Staff")">Staff Side</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Student_Compitition_view","Staff")">Student List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="table.html"><i class="fa fa-table fa-3x"></i>Awards</a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="@Url.Action("AwardListManager","Staff")">View List</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i>Exibition</a>
                        <ul class="nav nav-third-level">

                            <li>
                                <a href="@Url.Action("Create_Exibition","Manager")">Create List</a>
                            </li>

                            <li>
                                <a href="@Url.Action("Exibition","Manager")">View List</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Admin Dashboard</h2>
                        <h5>Welcome Jhon Deo , Love to see you back. </h5>

                        @using (Html.BeginForm("MStudentSerch", "Manager", FormMethod.Get))
                        {
                            <h1>Search Here </h1><br />
                            @Html.RadioButton("searchby", "Name")<text>Name</text><br />

                            @Html.TextBox("search") <input type="submit" class="btn btn-warning" style="margin-left:10px;" value="Search" />
                        }

                                                    <table class="table">
                                                        <tr>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Name)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Email)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.age)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Class)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Subject)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.gender)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Password)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Co_Password)
                                                            </th>
                                                            <th></th>
                                                        </tr>
                                                        @if (Model.Count() == 0)
                                                        {
                                                            <tr>
                                                                <td colspan="4">
                                                                    <h4>No Record Found</h4>
                                                                </td>
                                                            </tr>
                                                        }
                                                        else
                                                        {
                                                            foreach (var item in Model)
                                                            {
                                                                <tr>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Name)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Email)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.age)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Class)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Subject)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.gender)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Password)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => item.Co_Password)
                                                                    </td>
                                                                    <td>

                                                                        @Html.ActionLink("Details", "MStudentSerch", new { id = item.Id }) |

                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                        </table>

                    </div>
                </div>
            </div>
        </div>
        <!-- /. ROW  -->

    </div>

</body>


<script src="~/Temp/assets2/js/bootstrap.min.js"></script>
<script src="~/Temp/assets2/js/custom.js"></script>
<script src="~/Temp/assets2/js/jquery-1.10.2.js"></script>
<script src="~/Temp/assets2/js/jquery.metisMenu.js"></script>









<p>
    @Html.ActionLink("Create New", "Create")
</p>
