@model InstituteOfFineArt.Models.Compitition

@{
    ViewBag.Title = "Compitition_Details";
}

<h2>Compitition_Details</h2>

<div>
    <h4>Compitition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.despcription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.despcription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conditions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conditions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwardDetils)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwardDetils)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Content()" height="80px" width="80px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
